.sponsorHeader {
	height: 160px;
	width: 740px;
	padding: 20px 0px 10px;
}

.sponsorHeaderLeft {
	font: bold 33px "Oxygen", Arial, sans-serif;
	position: absolute;
	width: 520px;
	line-height: 110%;
}

.sponsorHeaderRight {
	position: absolute;
	width: 390px;
	left: 520px;
	margin-top: 23px;
}

#sponsorHeaderRight {
	transition: left 2s;
}

.sponsorHeaderLeader {
	position: absolute;
	font-size: 46px;
	left: 40px;
}	

.sponsorHeaderCaption {
	font-size: 16px;
	line-height: 120%;
	font-weight: bold;
	font-family:'Swanky and Moo Moo',cursive;
	width: 200px;
	position: relative;
	left: -20px;
}
 	

.sponsorHeaderHeadline {
	position: absolute;
	top: 15px;
	left: 100px;
	text-align: right;
}	

.allianceContent {
	height: 350px;
	width: 740px;
}

.sponsorApp {
	position: absolute;
	left: 0px;
	height: 100%;
	opacity: 1;
	z-index: 1;
}

.navApp {
	position: absolute;
	left: 760px;
	width: 200px;
	height: 100%;
	z-index: 1;
	background-image: url("images/curtain.png");
	transition: left 2s ease;
  -webkit-transition: left 2s; 
}

.aboutApp {
	position: absolute;
	top: 0px;
	left: 960px;	
	height: 100%;
	width: 740px;
	z-index: 1;
	background-image: url("images/curtain.png");
	transition: left 2s ease;
  -webkit-transition: left 2s; 
}

.aboutContent {
	height: 350px;
	width: 700px;
	margin-left: 30px;
	margin-top: 10px;
}

div.curtain {
	position: absolute;
	top: 0px;
	left: 960px;	
	height: 800px;
	width: 900px;
	z-index: 2;
	background-image: url("images/curtain.png");
}

#madeUp_index0 {
	position: absolute;
	visibility: visible;
	opacity: 1;
	font: 11px/20px Oxygen, Arial, sans-serif;
	transition: opacity 2s;
}

#madeUp_index1, #madeUp_index2  {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	font: 11px/20px Oxygen, Arial, sans-serif;
	transition: opacity 2s;
}

#navTopSponsorContext {
	opacity: 1;
	transition: opacity 2s;
	position: absolute;
	top: 20px;
}

#navTopAboutContext {
	opacity: 0;
	transition: opacity 2s;
	position: absolute;
	top: 20px;
	padding: 23px 0px 0px 20px;
}

.whitepaper-button {
	position: relative;
	top: 15px;
	width: 130px;
	height: 25px;
	border-radius: 10px;
	font-size: 15px;
	font-family: Oxygen, Arial, sans-serif;
	padding: 15px;
	border: 2px dotted #fcb040;
 	text-decoration: none;
 	transition: opacity 2s;
 	text-align: center;
}

.whitepaper-button:hover {
	background-color: #f2f2e1;
}

.whitepaper-button:active {
	background-color: #e3e2c8;
}

.btn-open-close {
    position: absolute;
    top: 423px;
    left: -33px;
    width: 178px;
    padding-top: 70px;
    background: url('http://www.mckinsey.com/images/dotcom/home/btn-open-close.png') no-repeat scroll 0px 0px transparent;
}

.button {
   border-top: 1px solid #a6c3ce;
   background: #004d62;
   padding: 5px 15px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #edf0de;
   font-size: 16px;
   font-family: "Oswald",Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   letter-spacing: .5px;
   width: 100%;
   }
.button:hover {
   background: #a6c3ce;
   }
.button:active {
   background: #a6c3ce;
   }
   
/* slider stuff */

h1.slider {
	letter-spacing:-1px;
	margin:0 0 5px 0;
}

.sponsorSlider{
	background:url(../images/slide.gif) center top no-repeat;
	height:90px;
	width:100%;
}

.accord, .accordion1{
	margin:0px 0 0 0px;
	padding:0;
	list-style-type: none;
	border-radius:20px;
}
.one h1 , .two h1 , .three h1, .four h1 ,.five h1{
font:bold 20px/30px "Oxygen",Arial,sans-serif;
padding:0 0px 0px 0px;
 }
.one img, .two img, .three img, .four img, .five img{
margin:0 15px 0 0;
}


/* --------------------ONE------------------ */
.one{
	background: #899d70;
 }

/* --------------------TWO------------------ */
.two{
	background: #486c7a;
}


/* --------------------THREE------------------ */
.three{
	background: #fcb040;
}

/* --------------------LINKs------------------ */
.active {
padding:10px 10px 0 10px;
	background:#fcc8bc;
}
.accord li{
	cursor:pointer;
}
.accord .active_click{
	cursor:default;
}

.headerbox div.title
{
position:absolute;
right:0;
top:10px;
padding-left:10px;
display:block;
height:100%;
width:120px;
text-align: center;
}

.title strong
{
font:normal 18px/18px Oswald, Arial, sans-serif;
margin:5px;
text-transform:uppercase;
color:#f7f8ef;
}

div.title img
{
margin-left:15px;
margin-top:15px;
}

div.title p
{
font:normal 10px/12px Oxygen, Arial, sans-serif;
color:#e0e0e0;
padding:10px 10px 10px 10px;
margin:0px 0 0 0;
}

div.title a
{
font:normal bold 10px/12px Oxygen, Arial, sans-serif;
color:#eee;
text-transform:uppercase;
}

div.title a:hover
{
font:normal bold 10px/12px Oxygen, Arial, sans-serif;
color:#fff;
text-transform:uppercase;
}

.headerbox
{
margin:0px 100px 0px 10px;
width:auto;
overflow:hidden;
padding:5px;
}

.headerbox p
{
font:normal 11px/18px Oxygen, Arial, sans-serif;
margin-right:10px;
}
