@import url("https://fonts.googleapis.com/css?family=Oxygen:400,300,700");

body, #site-slogan, .ui-widget, .comment-form label {
    font-family: "Oxygen", Arial, sans-serif !important;
}

.breadcrumb { display:none; }

.crm-container .help { background-color: #f7f8ef; border: 1px solid #2786c2; }

.crm-container .header-dark { background-color: #486c7a; opacity: .9; border-radius: 4px; }

.crm-container .crm-button { background: #d27b4b; border-radius: 6px; border: 0px; font-size: 18px; }

.crm-container span.crm-button { padding:8px; float: right !important;}

.crm-container input.crm-form-submit { font-size: 18px; }

.crm-i-button > .crm-i { top: .8em; }

#crm-container.crm-public #crm-submit-buttons { margin-top: 20px; margin-bottom: 30px; }

#pricesetTotal { display:none; } 

div.status { background-color: #f7f8ef; border: 1px solid #2786c2; border-radius: 4px;}

.crm-contribution-page-id-8 > 
.membership-group > 
.display-block > 
table > tbody > tr > :nth-child(2) {
	display:none;
}

.crm-contribution-page-id-8 > 
.membership-group > 
.display-block > 
.total_amount-section {
	display:none;
}

.module { margin-left:40px; }

.console {     
    border: 1px solid #004d62;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px; 
}

.console >
.view-content >
table > tbody > tr {
    background: #ffffff;
    font-family: "Oxygen";
    font-size: 120%;
}

.console >
.view-content >
table > tbody > tr > td > :nth-child(1) {
    font-weight: bold;
    background-color: #edf0de;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}