body { 
	font: bold 12px/20px Oxygen, Arial, sans-serif;
	text-align: center; 
	background-color: #638f90;
	color:#484848;
	background: transparent;
	margin: 0px;
}

.container {
	position: relative;
	background-color: #ffffff;
	margin: 0px auto;
	width: 960px;
	height: 960px;
	text-align: left;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading.gif') 50% 50% no-repeat rgb(255,255,255);
}

/* Preloader */
#preloader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	/*background-image:url('../images/loader.gif');  path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
	font-size: 18px;
}

p {
	margin: 0 0 5px 0;
}

.skyblue 	{ color:#004d62; }
.otherblue 	{ color:#486c7a; }
.otherotherblue 	{ color:#a6c3ce; }
.white 	{ color:#f7f8ef; }
.tan { color:#edf0de; }
.yellow { color:#fcb040; }
.orange { color:#d27b4b; }
.olive { color:#dae0bc; }
.whatever { color:#f68d20; }

.required {
	color: #d27b4b;
	vertical-align: top;	
}

.button-submit, .button-allothers {
  border-radius: 6px;
	font-weight: bold;
  float: right;
  font-size: 110%;
  text-decoration: none;
}

.button-submit {
	position: absolute;
  background: #d27b4b; 
  width: 80px;
  bottom: 20px;
  left: 110px;
}

.button-link {
  text-decoration: none;
  font-weight: bold;
  width: 160px;
  background: rgba(137, 157, 112, 0.6);
  margin: 10px;
  border-radius: 6px;
}

.user-message {
	position: absolute;
	font-weight: normal;
	background-color: rgba(252,176,64,0.5);
	border-radius: 4px;
	padding: 0px 5px;
	bottom: 55px;
	margin-right: 14px;
}

#volunteerSubmitButton, #applySubmitButton {
	text-decoration: none;
}

.pure-menu li a {
	color: #475b64;
	font-family: Oswald, arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	background: #edf0de;
	text-decoration: none;
	border-radius: 4px;
	width: 72px;
	text-align: center;
}

.pure-menu li a:hover, .pure-menu li a:focus {
	background-color: #a6c3ce;
}

.submenu li {
	width:100px;
	margin-bottom:5px;
	text-align:left;
}

.pure-table {
	border-width: 0px;
}


.pure-table thead tr td {
	vertical-align: bottom;
}

#nexus-details-table thead tr:first-child td {
	background: #f68620;
}

#training-details-table thead tr:first-child td {
	background: #dae0bc;
}

#caucus-details-table thead tr:first-child td {
	background: #a6c3ce;
}
.pure-table thead tr td:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.pure-table thead tr td:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pure-table td {
	border-width: 0px;
	border-left: 0px;
	vertical-align: top;
	padding: .5em .75em;
}


.pure-table thead {
	background: #ffffff;
	font-size: 105%;
	font-weight: bold;
	border-bottom: 1px;
}

