@import url("../mod-core.css");

body { 
	font: bold 12px/20px "Oxygen", Arial, sans-serif;
	text-align: center; 
	background-color: #638f90;
	color:#484848;
	background: transparent;
	margin: 0px;
	
	//<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:400,300|Nunito:400,300|Asap|Dosis:400,500,300|Ropa+Sans&subset=latin,latin-ext">
  //<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Montserrat|Varela|Share+Tech|Noto+Sans|Oxygen|Spinnaker'>
  // Caption: Ropa
  //
}

.container {
	position: relative;
	background-color: #ffffff;
	margin: 0px auto;
	width: 960px;
	height: 660px;
	text-align: left;
}

p {
	margin: 0 0 5px 0;
}

.skyblue 	{ color:#004d62; }
.otherblue 	{ color:#486c7a; }
.white 	{ color:#f7f8ef; }
.tan { color:#edf0de; }
.yellow { color:#fcb040; }
.orange { color:#d27b4b; }

.required {
	color: #d27b4b;
	vertical-align: top;	
}

.button-submit, .button-allothers {
  //color: #f7f8ef;
  border-radius: 6px;
  //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  float: right;
  font-size: 110%;
}

.button-submit {
  background: #d27b4b; 
}
