						<div class="mod-sponsor-contentLeft">
							
							<div class="mod-sponsor-controlLevel">
								<div class="mod-sponsor-controlLabel">
									Your Level
								</div>
								<div class="mod-sponsor-controlContent">
									<div class=" pure-menu pure-menu-open pure-menu-horizontal">
										<ul>
											<li><a href="#">$25</a></li>
											<li><a href="#">$50</a></li>
											<li class="pure-menu-selected"><a href="#">$100</a></li>
											<li><a href="#">$250</a></li>
											<li><a href="#">Other</a></li>
										</ul>
									</div>								
								</div>
							</div>
							
							<div class="mod-sponsor-controlSponsorship">
								<div class="mod-sponsor-controlLabel">
									Sponsorship
								</div>	
								<div class="mod-sponsor-controlContent">
									<form id="" class="pure-form">
								    <fieldset>
        							<label for="showSponsorship">
            					<input id="showSponsorship" type="checkbox" /> Public?&nbsp;&nbsp;
        							</label>
							        <input type="email" placeholder="Please use this name" style="font-size: 80%;">
							        <!--<a class="pure-button" href="#" style="font-size: 80%;"><span class="fa fa-file-image-o"></span> Upload Logo</a>-->
    								</fieldset>
									</form>
								</div>							
							</div>
							
							<div class="mod-sponsor-controlImpact">
								<div class="mod-sponsor-controlLabel">
									Impact Report
								</div>	
								<div class="mod-sponsor-controlContent">
									<form id="" class="pure-form">
								    <fieldset>
        							<label for="showImpact">
            					<input id="showImpact" type="checkbox" /> No Thanks&nbsp;&nbsp;
        							</label>
							        <input type="email" placeholder="Please email to" style="font-size: 80%;">
							        <!--<a class="pure-button" href="#" style="font-size: 80%;"><span class="fa fa-file-image-o"></span> Upload Logo</a>-->
    								</fieldset>
									</form>
								</div>							
							</div>
						
							<div class="mod-sponsor-controlDesignate">
								<div class="mod-sponsor-controlLabel">
									Designate By
									<div class="pure-menu pure-menu-open" style="border: 0px;">
								    <ul>
        							<li class="pure-menu-selected"><a href="#" onClick="showLevelSponsorForm()">Waiting List</a></li>
        							<li><a href="#" onClick="showLevelSponsorForm()">Org. Name</a></li>
        							<li><a href="#" onClick="showLevelSponsorForm()">Cause</a></li>
        							<li><a href="#" onClick="showLevelSponsorForm()">Region</a></li>
    								</ul>
									</div>
								</div>	
								<div class="mod-sponsor-controlContent">
									<div id="slidorion" class="slidorion">
	    							<div class="slider">
        						<div class="slide">About</div>
        						<div class="slide">About</div>
        						<div class="slide">About</div>
    								</div>
    								<div class="accordion">
	        					<div class="header">Chicago Adventure Therapy</div>
        						<div class="header">Fellowship Housing</div>
        						<div class="header">Center for Faith and Community Health Transformation</div>
        						<div class="header">Ravenswood Community Services</div>
        						<div class="header">Episcopal Diocese of Chicago</div>
        						<div class="header">Another</div>
        						<div class="header">Another</div>
        						<div class="header">Another</div>
        						<div class="header">Another</div>
        						<div class="header">Another</div>
    								</div>
    							</div>
								</div>		
							</div>
							<!--
									<form id="" class="pure-form">
										<label for="name">Lookup by Name</label>
										<input id="name" type="text" size="20" value="" style="font-size: 80%;">
									</form>
						-->
						</div>
						<div class="mod-sponsor-contentRight">
							<form id="mod-sponsor-form" class="pure-form pure-form-stacked">
								<p>Your generous gift of <span id="level">$250</span> will provide <span id="level">1 year of global web conference service</span> to <span id="level">5 teams</span> at <span id="level">Breakthrough Urban Ministries</span>.</p>
																
								<p>Your gift will be acknowledged in the name of <span id="level">McDonalds</span>.</p>
								
								<p>We will be delighted to send your impact report to <span id="level">someone@test.com</span></p>

								
								<p><button type="submit">Sponsor</button></p>
								
								<input type="hidden" name="level" value="">
								<input type="hidden" name="designee" value="">
							</form>						
						</div>
