.mod-sponsor-contentLeft, .mod-sponsor-contentRight {
	position: absolute;
	background-color: #ffffff;
	height:330px;
	-moz-box-shadow:    inset 0 0 6px #486c7a;
  -webkit-box-shadow: inset 0 0 6px #486c7a;
  box-shadow:         inset 0 0 6px #486c7a;
	padding:10px;
	border-radius:20px;
}	

.mod-sponsor-contentLeft {
	left: 0px;
	width: 490px;
	border-right: thin dashed;
	border-right-color: #486c7a;
}

.mod-sponsor-contentRight {
	left: 510px;
	width: 210px;
	border-left: thin dashed;
	border-left-color: #486c7a;
	//font-weight: 400;
}

.mod-sponsor-controlLevel, .mod-sponsor-controlSponsorship, .mod-sponsor-controlImpact, .mod-sponsor-controlDesignate {
	position: absolute;
	width: 100%;	
}

.mod-sponsor-controlSponsorship {
	top: 50px;
}

.mod-sponsor-controlImpact {
	top: 100px;
}

.mod-sponsor-controlDesignate {
	top: 150px;
}

.mod-sponsor-controlLabel {
	position: absolute;
	vertical-align: middle;
	padding: 7px;
	width: 120px;
	font-weight: bold;
}

.mod-sponsor-controlContent {
	position: absolute;
	vertical-align: middle;
	margin-left: 125px;
	width: 360px;
	font-weight: normal;
}

.mod-sponsor-button {
	width:50px;
	border-radius: 6px;
	margin:4px;
	//background-color: #a6c3ce;
}

.mod-sponsor-sponsorButtons {
	position: absolute;
	top: 303px;
}

.mod-sponsor-designate {
	position: absolute;
	width: 100%;
	height: 170px;
	margin-top: 12px;
	border-radius:10px;
	display: none;
}

.mod-sponsor-designate:first-child {
	display: block;
}

.mod-sponsor-slider {
	width: 60%;
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	border: 1px solid #004d62;
	border-radius: 8px;
}

.mod-sponsor-slider .slide:first-child {
	opacity: 1;
}

.mod-sponsor-slider .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	opacity: 0;
	transition: opacity 1s;
  -webkit-transition: opacity 1s; 
  margin: 10px;
}

.mod-sponsor-accordion {
	width: 32%;
	height: 100%;
	position: relative;
	z-index:999;
	overflow: auto;
	float: left;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 100%;
}

.mod-sponsor-accordion .header:first-child {
	//border: 2px solid #fcb040;
	//background: #a6c3ce;
}

.mod-sponsor-accordion .header {
	padding: 4px 7px;
	font-size: 10px;
	font-weight: bold;
	color: #333;
	background: #dbe7eb;
	background: -moz-linear-gradient(top, #f7f9fa 30%, #dbe7eb 100%);
	background: -webkit-linear-gradient(top, #f7f9fa 30%,#dbe7eb 100%);
	background: -o-linear-gradient(top, #f7f9fa 30%,#dbe7eb 100%);
	background: -ms-linear-gradient(top, #f7f9fa 30%,#dbe7eb 100%);
	background: linear-gradient(top, #f7f9fa 30%,#dbe7eb 100%);
	border-top: 1px solid #ccc;
	overflow: hidden;
	border-radius: 8px;
}

.mod-sponsor-accordion .unavailable {
	background: #f6f6f6;
}

.mod-sponsor-accordion .header a {
	text-decoration: none;
	color: #333;
}

.mod-sponsor-accordion .header:hover {
	border: 2px solid #fcb040;
	background: #a6c3ce;
	cursor: pointer;
}

.mod-sponsor-accordion .header.active {
	border-bottom: none;
	border: 2px solid #fcb040;
	background: #a6c3ce;
}

