.mod-about-quotes {
	position:absolute;
	left:570px;
	top:30px;
	font-size:22px;
	line-height:110%;
	font-family:'Swanky and Moo Moo',cursive;
	color:#dae0bc;
	text-align:right;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.mod-about-frame {
	position: absolute;	
	top: 255px;
	margin-left: 20px;
	height: 417px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.mod-about-frameLeft {
	position: relative;
	width: 435px;
}

.mod-about-frameRight {
	position: absolute;
	left: 455px;
	top: 0px;
	background: #f7f8ef;
	padding: 5px 5px 5px 10x;
	width: 220px;
	border-radius: 10px;
	padding: 10px;
}

.mod-about-frameBottom {
	width: 100%;
}

.mod-about-frameBottomLeft, .mod-about-frameBottomMiddle, .mod-about-frameBottomRight {
	position: absolute;
	background: #f7f8ef;
	top: 180px;
	padding: 10px;
	width: 210px;
	height: 300px;
	border-radius: 10px;
}

.mod-about-frameBottomLeft {

}

.mod-about-frameBottomMiddle {
	left: 240px;
}

.mod-about-frameBottomRight {
	left: 480px;
}

.mod-leader-frame {
	position: absolute;
	top: 98px;	
	width: 500px;
	height: 385px;
	left: 160px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
	padding: 10px;
	border: 1px solid #fcb040;
	border-radius: 10px;
}


.mod-about-header {
	font-weight: bold;
	color: #d27b4b;
}

.mod-about-normalText {
	font-weight: normal;
}

.mod-about-leaderText {
	line-height: 160%;
	font-size: 120%;
	font-weight: normal;
}

.mod-about-anchor {
	text-decoration: none !important;
	color: #007582 !important;
}





